table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #0084ff;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #3193dd;
}

header {
    background-color: #0084ff;
}